@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-3 w-[80%]
}
.row{
    @apply flex flex-wrap py-8 px-4 items-center 
}
.btn{
    @apply px-4 py-2 w-full rounded-lg text-white bg-green-500
}
.product:hover{
box-shadow: 0 0 7px 2px rgba(0, 255, 0, 0.5);
width: fit-content;
}
.product .btn{
    transition: transform 1s ,opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn{
    opacity: 1;
    transform: translateY(0%);
}
.box:hover{
    box-shadow: 0 0 7px 2px rgba(0, 255, 0, 0.5);
}
.borderr{
    border: 1px solid rgba(17, 213, 17, 0.916);
}


